
@media (max-width: 576px) {  /*xs */
    .class_test_1{
         background-color:aqua;
    }
    .main_container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-image:url("../../imgs/space_star_img.gif");
        background-size:  100% 100%;
        background-repeat: no-repeat;
        font-size: 5px;
    }  
    .tittle1{
        font-size: 2rem;
        color:#ffffff;
    }

}

@media (min-width: 577px) {  /*sm */
    .class_test_1{
         background-color:red;
         height: 10vh;
    }
    .main_container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-image:url("../../imgs/space_star_img.gif");
        background-size:  100% 100% ;
        background-repeat: no-repeat;
    } 
    .tittle1{
        font-size: 3rem;
        color:#ffffff;
    }
    
} 
@media (min-width: 768px) {  /*md */
    .class_test_1{
         background-color:blue;
         height: 20vh;
    }
    .main_container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-image:url("../../imgs/space_star_img.gif");
        background-size:  100% 100% 300%;
        background-repeat: no-repeat;
    }  
}

@media (min-width: 992px) { /* lg*/ 
    .class_test_1{
         background-color:green;
         height: 50vh;
    }
    .main_container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-image:url("../../imgs/space_star_img.gif");
        background-size:  100% 100% 10%;
        background-repeat: no-repeat;
    }  
}
@media (min-width:1200) {  /*xl */
    .class_test_1{
         background-color:black;
         height: 66vh;
    }
    .main_container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-image:url("../../imgs/space_star_img.gif");
        background-size:  100% 100% 500%;
        background-repeat: no-repeat;
    }  
} 